/*
CSS to add styling for entire site.
Programmers: Jacob Huebner
File Name: screens.css

Material design scale
https://material.io/design/typography/the-type-system.html

Table of Contents:
1. Core HTML
    1.1 - HTML Structure
    1.2 - Responsive media
2. Core resources
    2.1 - Scaled fonts
    2.2 - Colors
    2.3 - Formatting
    2.4 - Alignment
    2.5 - Dropshadows
3. Core components
    3.1 - Navigation
    3.2 - Navigation Drawer
    3.3 - Footer
4. Main Pages
    4.1 - Home page
    4.2 - Bio page
    4.3 - Project showcase page
    4.4 - Project grid page
    4.5 - Contact page
5. Media queries
    5.1 - Break Point 1: XXS  (600px)
    5.2 - Break Point 2: XS   (800px)
    5.3 - Break Point 3: S    (960px)
    5.4 - Break Point 4: M    (1280px)
    5.5 - Break Point 5: L    (1440px)
    5.5 - Break Point 6: XL   (1600px)
    5.5 - Break Point 7: 2XL  (1920px)
*/

/* ==================================================================== */
/* ====================== Part 1: Core HTML  ========================== */
/* ==================================================================== */

/* ======== HTML Structure ======== */
*, *:before, *:after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box; /* Note: Using border-box instead of content-box */
}

body{
  font-family: 'Roboto', 'Open Sans', 'Lato', 'Oswald', sans-serif;
  font-size: 1em; /* 16px Base font size */
  line-height: 1.5em; /* 24px = 18px * 1.334em - Base line height */
  text-rendering: optimizeLegibility;
}

nav{
  z-index: 2;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

main{
  width: 100%;
  overflow: hidden;
}

article{
  padding: 1rem 1rem;
  background-color: white;
  overflow: hidden;
}

.wrapper{
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
}

.container{
  width: 100%;
  height: auto;
}

.container-half{
  width: 48%;
  height: auto;
  display: inline-block;
  justify-content: space-between;
}

footer{
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  color: grey;
  background-color: white;
  box-shadow: 0 -1.5px 3px -1.5px rgba(0,0,0,0.16);
}


/* ======== Responsive media ======== */
img, audio, video{
  display: block;
  max-width: 100%;
}

img{
  margin: 0 auto;      
}





/* ==================================================================== */
/* ====================== Part 2: Core resources  ===================== */
/* ==================================================================== */

/* ======== Scaled fonts  ======== */
h1{
  font-size: 6em; /* 96px = 16px * 6em */
  line-height: 6rem; /* 96px = 16px * 6em */
  font-weight: 300; /* light */
  letter-spacing: -0.015625em; /* -1.5 / 96px */
  margin: 0;
} 

h1.margin{
  margin: 0.83em 0;
}

h1.margintop{
  margin: 0.83em 0 0 0;
}

h2{
  font-size: 3.75em; /* 60px = 16px * 3.75em */
  line-height: 3.75rem;  /* 60px = 16px * 3.75em */
  font-weight: 300; /* light */
  letter-spacing: -.0083333333em; /* -0.5 / 60px */
}

h2.margin{
  margin: 0.83em 0;
}

h2.margintop{
  margin: 0.83em 0 0 0;
}

h3{
  font-size: 3em; /* 48px = 16px * 3em */
  line-height: 3.125rem;  /* 50px = 16px * 3.125em */
  font-weight: 400; /* regular */
  letter-spacing: normal; /* 0 / 48px */
}

h3.margin{
  margin: 1em 0;
}

h3.margintop{
  margin: 1em 0 0 0;
}

h3.light{
  font-weight: 300;
}

h4{
  font-size: 2.125em; /* 34px = 34px * 2.125em */
  line-height: 2.5rem;  /* 40px = 16px * 2.5em */
  font-weight: 400; /* regular */
  letter-spacing: 0.0073529412em; /* 0.25 / 34px */
}

h4.margin{
  margin: 1.33em 0;
}

h4.margintop{
  margin: 1.33em 0 0 0;
}

h5{
  font-size: 1.5em; /* 24px = 16px * 1.5em */
  line-height: 2rem;  /* 32px = 16px * 2em */
  font-weight: 400; /* regular */
  letter-spacing: normal; /* 0 / 24px */
}

h5.margin{
  margin: 1.67em 0;
}

h5.margintop{
  margin: 1.67em 0 0 0;
}

h6{
  font-size: 1.125em; /* 20px = 16px * 1.125em */
  line-height: 2.5rem;  /* 40px = 16px * 2.5em */
  font-weight: 500; /* medium */
  letter-spacing: 0.0125em; /* 0.15 / 20px */
}

h6.margin{
  margin: 2.33em 0;
}

h6.margintop{
  margin: 2.33em 0 0 0;
}

p{
  font-size: 1em; /* 16px = 16px * 1em */
  line-height: 1.5em; /* 24px = 16px * 1.5em */
  font-weight: 400; /* regular */
  letter-spacing: .03125em; /* .5 / 16px */
}

p.margin{
  margin: 1em 0;
}

p.margintop{
  margin: 1em 0 0 0;
}

.body2{
  font-size: .875em; /* 14px = 16px * .875em */
  line-height: 1.25rem; /* 20px = 16px * 1.25em */
  font-weight: 400; /* regular */
  letter-spacing: .0178571429em; /* .25 / 14px */
}

.subtitle{
  font-size: 1em; /* 16px = 16px * 1em */
  line-height: 1.75em; /* 28px = 16px * 1.75em */
  font-weight: 400;
  letter-spacing: .009375em; /* .15 / 18px */
}

.button{
  font-size: .875em; /* 14px = 16px * .875em */
  line-height: 2.25rem; /* 36px = 16px * 2.25em */
  font-weight: 500; /* medium */
  letter-spacing: .0892857143em; /* 1.25 / 14px */
  text-transform: uppercase;
}

.caption{
  font-size: .75em; /* 12px = 16px * .75em */
  line-height: 1.25rem; /* 20px = 16px * 1.25em */
  font-weight: 400; /* regular */
  letter-spacing: .0333333333em; /* .04 / 12px */
}

.overline{
  font-size: .75em; /* 12px = 16px * .75em */
  line-height: 2rem; /* 32px = 16px * 2em */
  font-weight: 500; /* regular */
  letter-spacing: .1666666667em; /* 1.5 / 12px */
  text-transform: uppercase;
  padding: 0 0 1rem 0;
}

.title{
  text-align: center;
}



/* ======== Colors ======== */
.white{
  background-color: white;
}

.darkestgrey{
  background-color: #b2b2b2;
}

.darkergrey{
  background-color: #c3c3c3;
}

.darkgrey{
  background-color: #d4d4d4;
}

.grey{
  background-color: #e5e5e5;
}

.lightgrey{
  background-color: #f5f5f5;
}



/* ======== Formatting ======== */
/* Frame */
.frame{
  padding: 1rem;
}

/* Flex */
.flex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex img{
  width: 100%;
}



/* ======== Alignment ======== */
.left{
  float: left;
  cursor: pointer;
}

.right{
  float: right;
  cursor: pointer;
}

/* Text alignment */ 
.center{
  margin: 0 auto;
}

.alignleft{
  text-align: left;
}

.alignright{
  text-align: right;
}

/* Horizontal and vertical div alignment */
.aligncenter{
  text-align: center;
}

.alignmiddle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* ======== Dropshadows ======== */
.dropshadow0{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dropshadow1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.hovershadow{
  transition: .5s;
}

.hovershadow:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hoverdelay{
  transition-delay: 0.3s;
}





/* ==================================================================== */
/* ====================== Part 3: Core components  ==================== */
/* ==================================================================== */

/* ======== Navigation ======== */
.menubtn{
  border: 0;
  margin: 0;
  padding: 0;
  padding: 14px 16px;
  background-color: white;
  color: black;
  text-decoration: none;
}

/* Hamburger menu and logo */
.specialbtn{
  font-weight: 900;
  font-size: 20px
}

/* Navigation items */
.navitemlist{
  clear:both;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.navitemlist li{
  display: inline-block;
}

.navitemlist li a{
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: box-shadow 0.2s linear;
}

.navitemlist li a:hover{
  position: relative;
  /*background-color: whitesmoke;*/
  box-shadow:inset 0 -4px 0 0 grey;
}

/* Highlight nav current page */
.navitemlist li a.active{
  box-shadow:inset 0 -4px 0 0 grey;
  transition: 0s;
}



/* ======== Navigation Drawer ======== */
/* drawer buttons */
.drawerbtn{
  border: 0;
  margin: 0;
  padding: 0;
  padding: 12px 32px;
  background-color: white;
  color: grey;
}

.drawertitlebtn{
  border: 0;
  margin: 0;
  padding: 0;
  padding: 12px 32px;
  background-color: white;
  color: black;
}

/* smooth animations (borrowed)*/
.smooth{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;  -ms-text-size-adjust: none;
}

/* hides checkbox */
.drawer-toggle{
  position: absolute;
  opacity: 0;
  visibility: hidden; /* remove if you use hyperlinks instead of anchors */
}

/* changes transition color to be more subtle */
.drawer-toggle-label{
  display: block;
  background-color: rgba(0, 0, 255, 0);
}

/* drawer menu pane */
.drawer{
  z-index: 4;
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  width: 300px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;

}

/* checked styles (menu open state) */
.drawer-toggle:checked{
  height: 100%;
  width: calc(100%);
  background: black;
  background: rgba(255, 255, 255, .8);
}

.drawer-toggle:checked ~ .drawer{
  left: 0;
}

/* edit drawer when checked */
.drawer-toggle:checked ~ .drawer-toggle-label{
  position: fixed;
  height: 100%;
  width: calc(100%);
  color: black;
  background-color: black;
  opacity: .5;
  transition: background .2s linear;
}

/* fix moved company logo */
.drawer-toggle:checked ~ .logo{
  margin-left: 51.3px;
}

/* Drawer menu items */
.draweritemlist{
  display: block;
  border-bottom: 1px solid lightgray;
  padding: 2rem 0 2rem 0;
}

.draweritemlist li{
  display: block;
}

.draweritemlist li a{
  display: block;
  text-decoration: none;
  background-color: white;
}

.draweritemlist li a:hover{
  background-color: whitesmoke;
}


/* ======== Footer ======== */
/* footer */
footer div{
  display: flex;
  justify-content: space-between;
}

footer div p.caption{
  line-height: 2.25rem;
  padding-left: 1rem;
}





/* ==================================================================== */
/* ====================== Part 4: Main Pages ========================== */
/* ==================================================================== */




/* ======== Home page ======== */
.homepage{
  position: relative;
  height: calc(100vh - 128px);
  min-height: 340px;
  font-size: 60%;
  z-index: 1;
}

.scene{
  position: absolute;
  width: 100%;
  height: calc(100vh - 64px);
  left: 0;
  top: 0;
  z-index: -1;
}

.scene-canvas-1{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  background-color:rgba(255,255,255,0.1); /* almost transparent white */
}



/* ======== Bio page ======== */
.item{
  display: block;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item .picture{
  display: inline-block;
  width: calc(100%/1 - (1rem * .50));
  position: relative;
  vertical-align: middle;
  max-width: 500px;
}

.item .picture img{
  border: 6px solid #fff;
}

.item .picture img.no-border{
  border: none;
}

.item .description{
  display: inline-block;
  width: calc(100%/1 - (1rem * .50));
  position: relative;
  vertical-align: middle;
}

.item .description h4, .item .description p{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}



/* ======== Project showcase page ======== */
/* project buttons */
.project-buttons{
  
}

.projectbtn{
  /* formatting */
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  padding: 14px 16px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  outline: none;
  /*animation */
  transition: background-color 15ms linear, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s, 0s;
}

.projectbtn:hover{
  /* hover */
  background-color: whitesmoke;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.12);
}

.projectbtn:focus:active{
  /* during click */
  background-color: aliceblue;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

.projectbtn:focus{
  /* after click */
  background-color: whitesmoke;
}

.projectbtn:first-child{
    margin-right: 10px;
}

/* disables button */
.btn-disable{
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #d0d0d0;
}



/* ======== Project grid page ======== */
/* item */
.project-grid-item{
  position: relative;
  overflow: hidden;
  max-width: calc(100% - 1rem);
  margin: .5rem .5rem .5rem .5rem;
}

/* description */
.showcase{
  display: none;
  position: relative;
  z-index: 2;
  background-color: rgba(50,50,50,0.8);
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* make scrollbar transparent */
.showcase::-webkit-scrollbar{
  width: 0;
  background: transparent;
}

/* rolling shade */
.rolling-shade{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: white;
  visibility: visible;
  /* animation */ 
  background-color: rgba(50,50,50,0.85);
  opacity: 0;
  top: -100%;
  transition-duration: .5s;
  /* center title */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* displays rolling shade on hover */
.project-grid-item:hover .rolling-shade{
  opacity: 1;
  top: 0%;
}

/* expands project */
.project-grid-item:focus-within{
  width: 100%;
}

/* expands thumbnail */
.project-grid-item:focus-within .tile-image{
  display: inline-block;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

/* hides rolling shade on expansion */ 
.project-grid-item:focus-within .rolling-shade{
  opacity: 0;
  transition-duration: 0s;
}

/* displays showcase on expansion */ 
.project-grid-item:focus-within .showcase{
  display: block;
}



/* ======== Contact page ======== */
/* Containers */
.form{
  max-width: 720px;
}

.contact-icons{
  display: inline-block;
  padding: 0 .5rem 0 .5rem;
}

.formitem{
  width: 100%;
  padding: .5rem;
}

.linkedin{
  color: #4875B4;
}

.github{
  color: #6cc644;
}

.mailto{
  color: black;
}

.form-element{
  padding: .5rem 0;
}

.form-element textarea.formitem{
  max-width: 655px;
  min-width: 100%;
}




















/* ==================================================================== */
/* ====================== Part 5: Media queries  ====================== */
/* ==================================================================== */
/* ==================================================================== */
/* Notes: 360px minimum supported resolution.                           */
/* Preferred Possible Break Points: 512px, 600px, 840px, 960px, 1280px, */
/* 1440px, 1600px, 1920px.                                              */
/* ==================================================================== */

/* ======== Break Point 1: XXS  (600px) ======== */
@media screen and (min-width: 38.2em) { 
  
  /* navigation */
  /* navigation items */
  .navitemlist{
    clear: none;
    text-align: right;
    display: block;
  }
  
  /* homepage */
  /* home page resize */
  .homepage{
    height: calc(100vh - 64px);
    font-size: 100%;
  }
  
  /* project grid */
  /* project grid two columns */
  .project-grid-item{
    width: calc(50% - 1rem);
  }

}



/* ======== Break Point 2: XS   (800px) ======== */
@media screen and (min-width: 51.75em) {

  /* project showcase */
  /* project showcase two columns */ 
  .item .picture{
    width: calc(100%/2 - (1rem * .13));
    padding-left: 0;
    padding-right: 1rem;
  }

  .item .description{
    width: calc(100%/2 - (1rem * .13));
    text-align: left;
    padding-left: 1rem;
    padding-right: 0;
  }
  
  .item:nth-child(even) .picture{
    left: 50%;
    padding-left: 1rem;
    padding-right: 0;
  }

  .item:nth-child(even) .description{
    right: 50%;
    text-align: right;
    padding-left: 0;
    padding-right: 1rem;
  }

  .item .description h4.margintop{
    margin: 0 0 0 0;
  }

}



/* ======== Break Point 3: S    (960px) ======== */
@media screen and (min-width: 60em) {
  
  /* main html */
  /* limit size of content area */
  .container{
    max-width: 960px;
    margin: 0 auto;
  }

  .container-half{
    max-width: 480px;
    margin: 0 auto;
  }
  
  /* project showcase */
  /* limit project showcase something */ 
  .item .picture{
    max-width: none;
  }
  
  /* project grid */
  /* make project grid three columns */
  .project-grid-item{
    width: calc(100%/3 - 1rem);
    height: auto;
  }

}



/* ======== Break Point 4: M    (1280px) ======== */
@media screen and (min-width: 80em) { 
  
}



/* ======== Break Point 5: L    (1440px) ======== */
@media screen and (min-width: 90em) { 
  
  /* navigation */
  /* hide hamburger menu */
  .drawer-toggle-label{
    display: none;
  }

  .drawer-toggle{
    display: none;
  }

  .drawer{
    display: none;
  }

  .drawer-toggle:checked ~ .logo{
    margin-left: 0;
  }

}



/* ======== Break Point 6: XL   (1600px) ======== */
@media screen and (min-width: 100em) {

}



/* ======== Break Point 7: 2XL  (1920px) ======== */
@media screen and (min-width: 120em) {
  
  
}